@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Bebas+Neue&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .clip-bottom{
        clip-path: polygon(0 0, 100% 0%, 0 100%, 0% 100%);
    }
    .clip-top{
        clip-path: polygon(100% 100%, 100% 0%, 0 100%);
    }
    .clip-half-bottom{
        clip-path: polygon(0 0, 69% 0, 32% 100%, 0 100%);
    }
    .clip-half-top{
        clip-path: polygon(100% 100%, 32% 100%, 69% 0, 100% 0);
    }
    .clip-half-top-sm{
        clip-path: polygon(95% 0, 100% 0, 100% 100%, 10% 100%);
    }
    .clip-half-bottom-sm{
        clip-path: polygon(95% 0, 0 0, 0 100%, 10% 100%);
    }
    .clip-half-top-lg{
        clip-path: polygon(100% 19%, 100% 100%, 0 100%, 0 82%);
    }
    .clip-half-bottom-lg{
        clip-path: polygon(0 0, 100% 0, 100% 31%, 0 79%);
    }
}
